<div class="container page-container" id="aboutContainer">
	<img src="images/profile.jpg" class="rounded mx-auto d-block img-circle mb-4" >
	<p>
		Hello, I am an experienced technical professional with 15+ years experience working in the financial
		services industry.
	</p>
	<p>
		During my professional career I have worked both in Japan (8+ years) and the U.K. (~8 years) providing a
		wealth of experiences.
	</p>
	<p>
		I am passionate about learning new things and recently embarked on a refresh of my UI skills, self-teaching
		myself Angular2 and Ember JS (the latter with which I built this website).
	</p>
</div>
