<nav class="navbar navbar-toggleable-sm navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button"
		data-toggle="collapse" data-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  {{!-- <a class="navbar-brand" href="#">Anthony Knights</a> --}}
	{{#link-to 'index' class="navbar-brand"}}Anthony Knights{{/link-to}}

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
				{{#link-to 'blog' class="nav-link"}}Blog{{/link-to}}
      </li>
      <li class="nav-item">
				{{#link-to 'projects' class="nav-link"}}Projects{{/link-to}}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.flickr.com/photos/anthony_knights/">Photos</a>
      </li>
      <li class="nav-item">
        {{#link-to 'about' class="nav-link"}}About{{/link-to}}
      </li>
			<li>
				<a class="nav-link" href="https://www.linkedin.com/in/knighta">
					<i class="fa fa-linkedin fa-lg"></i>
				</a>
			</li>
			<li>
				<a class="nav-link" href="https://github.com/workingknights/">
					<i class="fa fa-github fa-lg"></i>
				</a>
			</li>
    </ul>
	</div>
</nav>

{{outlet}}
