<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Projects</h1>
    <p class="lead text-muted">Below are details and links to some of my personal projects</p>
  </div>
</section>

<div class="album text-muted">
	<div class="container">

    <div class="row">
      <div class="card">
        <img src="images/pflomgr.png" style="height: 280px; width: 100%; display: block;">
        <p class="card-text">Portfolio Manager: written using Angular2 with a Java back-end.  A tool for managing fund and stock holdings w. (near) realtime pricing.  Also supports defining target ratios to aid rebalancing and a sandbox mode to assist trade generation for a target MV.</p>
      </div>
      <div class="card">
        <img src="images/aknights.png" style="height: 280px; width: 100%; display: block;">
        <p class="card-text">This website is my first project using Ember JS.</p>
      </div>
    </div>
  </div>
</div>
