<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Projects</h1>
    <p class="lead text-muted">Below are details and links to some of my personal projects</p>
  </div>
</section>

<div class="album text-muted">
	<div class="container">

    <div class="row">
      <div class="card">
        <a href="https://pflo-mgr.herokuapp.com/" target="_blank"><img src="images/pflomgr.png" style="height: 260px; width: 90%; display: block;"></a>
      </div>
      <div class="card">
        <p class="card-text"><strong>Portfolio Manager - </strong>a tool for managing fund and stock holdings
					w. (near) realtime pricing from Barchart.com and Yahoo Finance.</p>
				<p>Also supports defining target ratios to aid rebalancing and a sandbox mode to assist trade generation for a target MV.</p>
        <p class="card-text">Tech Stack: <strong>Angular2, Java, Dropwizard, MongoDB, Auth0, Dagger, Heroku</strong></p>
      </div>
      <div class="card">
        <p class="card-text"><strong>www.aknights.com - </strong>this website is my first project using EmberJS.</p>
				<p class="card-text">Tech Stack: <strong>Ember JS, WordPress, Heroku, Netlify</strong></p>
      </div>
      <div class="card">
        <img src="images/aknights.png" style="height: 260px; width: 90%; display: block;">
      </div>
    </div>
  </div>
</div>
